<%- include('partials/header_fortnite') %>

<main>
    <h1>Geblackliste personages</h1>
    <article class="blacklist-container">
        <article class="blacklist-character">
            <a href="blacklist_detail">
            <img src="./assets/Images/Skin7.jpg" alt="Character 1">
            <p><a href="blacklist_detail">Character 1</a></p>
        </a>
        </article>
        <article class="blacklist-character">
            <a href="blacklist_detail">
            <img src="./assets/Images/Skin8.jpg" alt="Character 2">
            <p><a href="blacklist_detail">Character 2</a></p>
        </a>
        </article>
        <article class="blacklist-character">
            <a href="blacklist_detail">
            <img src="./assets/Images/Skin9.jpg" alt="Character 3">
            <p><a href="blacklist_detail">Character 3</a></p>
        </a>
</main>

<%- include('partials/footer') %>