<%- include('partials/header_fortnite')  %>

<main>
    <h1>Favoriete personages</h1>
        <article class="favorites-container">
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin10.jpg" alt="Character 1">
                <p><a href="favorite_detail">Character 1</a></p>
            </a>
            </article>
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin11.jpg" alt="Character 2">
                <p><a href="favorite_detail">Character 2</a></p>
            </a>
            </article>
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin3.jpg" alt="Character 3">
                <p><a href="favorite_detail">Character 3</a></p>
            </a>
            </article>
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin4.jpg" alt="Character 4">
                <p><a href="favorite_detail">Character 4</a></p>
            </a>
            </article>
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin5.jpg" alt="Character 5">
                <p><a href="favorite_detail">Character 5</a></p>
            </a>
            </article>
            <article class="favorites-character">
                <a href="favorites_detail">
                <img src="./assets/Images/Skin6.jpg" alt="Character 6">
                <p><a href="favorite_detail">Character 6</a></p>
            </a>
            </article>
</article>
</main>

<%- include('partials/footer')  %>
