<%- include('partials/header_user-profile')%>

<main>
    <section class="profile-container">
        <article class="profile-pic">
            <img src="" alt="Profiel Foto">
            <button class="action-button"><i class="fa fa-edit"></i></button>
        </article>
    
        <h1 class="username"><%= user.username %></h1>

        <article class="username-change">
            <% if (locals.message) { %>
                <p class="message"><%= locals.message %></p>
            <% } %>
            <form action="/update-username" method="POST">
                <input type="text" name="username" id="NieuweGebruikersnaam" placeholder="Nieuwe Gebruikersnaam">
                <button type="submit">Bevestigen</button>
            </form>
        </article>
    </section>
</main>

<%- include('partials/footer')%>
